<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @professors[:date] %>
        </h2>
        <h1><%= @professors[:title] %></h1>
        <p><%= @professors[:description] %></p>
        <% for feedback in @feedback %>
            <div class="media">
                <% if feedback[:feedback] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(users_id: feedback[:user_id]).to_a[0][:name] %></h5>
                    <%= feedback[:feedback] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/professors/<%= @professors[:id] %>/feedback/new" class="btn btn-primary">Leave feedback now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to provide feedback</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Quarters</h3>
        <p><%= @professors[:date] %></p>
        <h3>Campus</h3>
        <p><%= @professors[:location] %></p>
        <h3>How many reviews?</h3>
        <p><%= @review_count %></p>
    </div>
</div>