<div class="row">
    <div class="col-sm-9">
        <h1><%= @professors[:title] %></h1>
        <h2><%= @professors[:subtitle] %></h2>
        <p><%= @professors[:description] %></p>
        <% for feedback in @feedback %>
            <div class="media">
                <% if feedback[:feedback] %>
                    <i class="fas fa-square-full 5x"></i>
                <% else %>
                    <i class="fas fa-square-full 5x"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(users_id: feedback[:user_id]).to_a[0][:name] %></h5>
                    <%= feedback[:feedback] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/professors/<%= @professors[:id] %>/feedback/new" class="btn btn-primary">Leave feedback now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to provide feedback</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Quarters</h3>
        <p><%= @professors[:quarter] %></p>
        <h3>Campus</h3>
        <p><%= @professors[:location] %></p>
        <iframe
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
        &q=<%= @lat_long %>&zoom=15" allowfullscreen>
        </iframe>
    </div>
</div>